*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    background-color: grey;
}


/* rules general webpage */

#allcontainer{
    width:80%;
    margin: 20px auto;
    padding-bottom: 20px;
}

/* rules main-nav */



